.intro h1 {
    font-size: 4em;
}

.intro p {
    font-size: 1em;
}

#about .section-title {
    margin-bottom: 0;
}

#hair-price .section-title {
    margin-bottom: 1em;
}

.owl-nav {
    display: none;
}